name: Deploy to Elastic Beanstalk

on:
  push:
    branches:
      - master  # Change this to your main branch name if different

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Login to AWS ECR
        uses: aws-actions/amazon-ecr-login@v1
        with:
          registry: 957368471202.dkr.ecr.us-east-1.amazonaws.com
          region: us-east-1

      - name: Build Docker Image
        run: |
          docker build -t react_application .
          docker tag react_application:latest 957368471202.dkr.ecr.us-east-1.amazonaws.com/react_application:latest

      - name: Push Docker Image to ECR
        run: docker push 957368471202.dkr.ecr.us-east-1.amazonaws.com/react_application:latest

      - name: Deploy to Elastic Beanstalk
        run: |
          aws configure set aws_access_key_id ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws configure set aws_secret_access_key ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws configure set default.region us-east-1
          eb deploy Reactapplication-env

